<!-- <div *ngIf="dataLoaded==false"class="spinner-border text-primary" role="status">
  <span class="visually-hidden"></span>
</div> -->

<div class="">
  <label for="colorFilter" class="form-label"></label>
  <input type="text" [(ngModel)]="colorFilter" class="form-control" id="colorFilter" 
  placeholder="arama ifadesi giriniz">
</div>

 <ul *ngIf="dataLoaded == true" class="list-group">
    <li 
    routerLink="/cars" [ngClass]="getAllColorClass()"  aria-current="true"
    >
     
    Tüm Renkler
    </li>
    <li (click)="setCurrentColor(color)" *ngFor="let color of colors  |colorFilter:colorFilter" 
    routerLink="/cars/color/{{color.colorId}}"
    [class]="getCurrentColorClass(color)" >{{color.colorName}}
    </li>
  
  </ul>



  