<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown zero-raduis">
  	  <div id="formContent">
  	    <!-- Tabs Titles -->

  	    <!-- Icon -->
  	    <div class="fadeIn first">
  	      <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
  	      <h2 class="my-5">OTURUM AÇ</h2>
  	    </div>

  	    <!-- Login Form -->
  	    <form>
			<input type="email" id="email" class="fadeIn second zero-raduis" name="email" placeholder="email">
  	      <input type="password" id="password" class="fadeIn third zero-raduis" name="login" placeholder="password">
		      <div id="formFooter">
  	      	<a class="underlineHover">Parolanızı mı unuttunuz?</a>
  	      </div>
  	      <input type="submit" class="fadeIn fourth zero-raduis" value="Giriş Yap">
  	      <h2>Hesabınız yokmu ?</h2>
  	      <input routerLink="/register" type="button" class="fadeIn fourth zero-raduis pc" value="Kayıt Ol">
  	    </form>
  	    

  	  </div>
  </div>