<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown zero-raduis">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
			<h2 class="my-5">Kayıt Oluştur</h2>
		</div>

		<!-- Login Form -->
		<form  [formGroup]="registerForm">
	
			<input formControlName="firstName" type="text" id="firstName" class="fadeIn second zero-raduis" name="firstName" placeholder="Ad">
			<div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">Ad kısmı boş olamaz</div>
			</div>
			<input formControlName="lastName" type="text" id="lastName" class="fadeIn second zero-raduis" name="lastName" placeholder="Soyad">
			<div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
				<div *ngIf="f.lastName.errors.required">Soyad kısmı boş olamaz</div>
			</div>
			<input formControlName="email" type="email" id="email" class="fadeIn second zero-raduis" name="email" placeholder="info@example.com">
			<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
				<div *ngIf="f.email.errors.required">E-posta kısmı boş olamaz</div>
			</div>
			<input formControlName="password" type="password" id="password" class="fadeIn third zero-raduis" name="register" placeholder="password">
			<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
				<div *ngIf="f.password.errors.required">Şifre kısmı boş olamaz</div>
				<div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
			</div>
				<div id="formFooter">
				
				</div>
			<input  (click)="register()" type="submit" class="fadeIn fourth zero-raduis" value="Kayıt Ol">
			<h2>Hesabınız Varmı?</h2>
			<input routerLink="/login" type="button" class="fadeIn fourth zero-raduis pc" value="Giriş Yap">
		</form>
	</div>
</div>