
<nav class="navbar navbar-expand-lg  ">
    <div class="container">
        <a class="navbar-brand" style="color: white;" href="#">
          RentA-Car</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="menu-hammur" style=" color: #f22324;">
          <i class="bi bi-list"></i>
        </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
            <li  style="color: white;" class="nav-item">
            <a  style="color: white;" class="nav-link " aria-current="page" href="#">Ana Sayfa</a>
            </li>
            <li  style="color: white;" class="nav-item">
              <a  routerLink="/cars" style="color: white;" class="nav-link " aria-current="page" href="#">Araçlar</a>
              </li>
            <li class="nav-item">
            <a  style="color: white;" class="nav-link" href="#">Hakkımızda</a>
            </li>
            <li class="nav-item">
              <a  style="color: white;" class="nav-link" href="#">Hizmetler</a>
            </li>
            
            <li *ngIf="userRol=='admin'" class="nav-item">
              <a  style="color: white;" routerLink="admin" class="nav-link" href="#">Admin Panel</a>
            </li>
           
        </ul>
        
        <div *ngIf="!isAuthenticated()">
          <button routerLink="/login" id="auth" type="button" class="btn auth "  aria-expanded="false">

            Giriş
          </button>
          <button routerLink="/register" id="auth" type="button" class="btn  auth"  aria-expanded="false">

            Kaydol
          </button>
        </div>
          
          <div class="btn-group"  *ngIf="isAuthenticated()" >
            <button id="auth" type="button" class="btn  dropdown-toggle auth" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i> {{lastName+" "+firstName}}
          
            </button>
            <ul class="dropdown-menu dropdown-menu-end  dropdown-menu-lg-start">
              <li><button routerLink="user" class="dropdown-item" type="button">Profil</button></li>
              <li><button (click)="logout()" class="dropdown-item" type="button"> <i class="bi bi-box-arrow-right"></i> Çıkış</button></li>
            </ul>
          </div>
            
           
           
        
        </div>
    </div>
    
</nav>
