 .auth{
    border-color: #56baed;
    color: #56baed;
 }

 .auth:hover{
    background-color: #56baed;
    color: #ffffff;
    border-color:#56baed;
 }


 #auth:active{
   background-color: #56baed;
   color: #ffffff;
   border-color:#56baed;
}

.btn-check:active+.btn-outline-success, .btn-check:checked+.btn-outline-success, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show, .btn-outline-success:active {
   background-color: #56baed;
   color: #ffffff;
   border-color:#56baed;
}