<div *ngIf="dataLoaded==false"class="spinner-border text-primary" role="status">
  <span class="visually-hidden"></span>
</div>

<ul *ngIf="dataLoaded == true" class="list-group">
  <li 
  routerLink="/cars"
  [ngClass]="getAllBrandClass()" 
  (click)="removeCurrentBrand()"
  style= " margin-top: 5px;" aria-current="true">
    Markalar
  </li>
  <li (click)="setCurrentBrand(brand)" *ngFor="let brand of brands" 
  routerLink="/cars/brand/{{brand.brandId}}"
  [class]="getCurrentBrandClass(brand)" >{{brand.brandName}}
  </li>

</ul>

<h5 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz </h5>