<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
            <h5 class="title">Marka ekle</h5>
        </div>
        <div class="card-body">
        <form [formGroup]="brandAddForm">
          <div class="mb-3 row">
            <label for="brandName" class="col-sm-2 col-form-label">Marka</label>
            <div class="col-sm-10">
              <input type="text" id="brandName" formControlName="brandName" class="form-control" placeholder="Marka giriniz..."/>
            </div>
          </div>
        </form>
        </div>
        
        <div class="card-footer">
          <button class="btn btn-success w-100"  [routerLink]="['/admin/brands']"  (click)="addBrand()">Ekle</button>
        </div> 
    </div>
  </div>
  