<footer class="container-fluid bg-dark position-relative mt-5">
    <div class="row p-5">
      <div class="col">
        <h1>ReCap Car Rental</h1>
      </div>
  
      <div
        id="links"
        class="col d-flex justify-content-center align-items-center"
      >
        <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
          About us
        </a>
        <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
          Contact
        </a>
        <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
          Help Center
        </a>
        <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
          New Offers
        </a>
      </div>
      <div
        id="social-medias"
        class="col d-flex justify-content-center align-items-center"
      >
     
      </div>
    </div>
    <p id="credit" class="text-center text-muted link m-0">
      by
      <a
        href="#"
        target="_blank"
        class="link-secondary text-decoration-none"
        >sametkaya</a
      >
    </p>
  </footer>
  