<div class="card">
    <div class="card-header"><h5 class="title font-weight-bold">Renk</h5></div>
  
    <div class="card-body">
  
      <form [formGroup]="colorEditForm">
 
        <div class="row">
            <div class="mb-3">
                <label for="ColorName">Renk</label>
                <div class="form-group">
                    <input type="text" id="colorName" class="form-control" formControlName="colorName" value="{{color?.colorName}}" />                   
                </div>
            </div>
        </div>

      </form>
  
    </div>
  
    <div class="card-footer">
      <button class="btn btn-fill btn-danger" [routerLink]="['/admin/colors']" (click)="deleteColor()"> Sil</button>
      <button class="btn btn-fill btn-primary" [routerLink]="['/admin/colors']" (click)="updateColor()">Güncelle</button>
    </div>
 
  </div>