<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
          <h5 class="title">Araba Ekle</h5>
      </div>
      <div class="card-body">
      <form [formGroup]="carAddForm">
        <div class="mb-3 row">
            <label for="brandId" class="col-sm-2 col-form-label">Marka Seç:</label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="brandId">
                <option *ngFor="let brand of brands" [ngValue]="brand.brandId">{{brand.brandName}} </option>
              </select>
            </div>
        </div>

        <div class="mb-3 row">
          <label for="colorId" class="col-sm-2 col-form-label">Renk Seç:</label>
          <div class="col-sm-10">
            <select selected="cars" class="form-control" formControlName="colorId">
              <option *ngFor="let color of colors" [ngValue]="color.colorId">{{color.colorName}}</option>
            </select>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="carName" class="col-sm-2 col-form-label">Araba İsmi:</label>
          <div class="col-sm-10">
            <input type="text" id="carName" formControlName="carName" class="form-control"/>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="modelYear" class="col-sm-2 col-form-label">Model Yıl:</label>
          <div class="col-sm-10">
            <input type="number" id="modelYear" formControlName="modelYear" class="form-control"/>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="dailyPrice" class="col-sm-2 col-form-label">Günlük Fiyat:</label>
          <div class="col-sm-10">
            <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control" />
          </div>
        </div>

        <div class="mb-3 row">
          <label for="description" class="col-sm-2 col-form-label">Açıklama:</label>
          <div class="col-sm-10">
            <textarea  type="" id="description" formControlName="description" class="form-control" ></textarea>
          </div>
        </div>

      </form>
    
      </div>
      <div class="card-footer">
        <button class="btn btn-success w-100" (click)="addCar()">Ekle</button>
      </div> 
  </div>
</div>
