<div class="container mt-3 content">
  <div class="col-lg">
      <div class="card">
          <div class="card-header">
              <h4>Arabayı Güncelle</h4>
          </div>
          <div class="card-body">
              <form [formGroup]="carUpdateForm">
                <div class="row mb-3">
                    <div class="col-lg-2">
                        <label for="carName" class="form-label">Araba İsmi</label>
                    </div>
                    <div class="col-lg">
                        <input type="string" class="form-control" id="carName" formControlName="carName"
                            placeholder="Araba ismi"/>
                            
                    </div>
                </div>
                  <div class="row mb-3">
                      <div class="col-lg-2">
                          <label for="brandSelect" class="form-label">Marka:</label>
                      </div>
                      <div class="col-lg">
                          <select id="brandSelect" class="form-select" size="3" formControlName="brandId">
                              <option selected>Marka seçin</option>
                              <option *ngFor="let brand of brands" value="{{brand.brandId}}">{{brand.brandName}}
                              </option>
                          </select>
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-lg-2">
                          <label for="colorSelect" class="form-label">Renk:</label>
                      </div>
                      <div class="col-lg">
                          <select id="colorSelect" class="form-select" size="3" formControlName="colorId">
                              <option selected>Renk seçin</option>
                              <option *ngFor="let color of colors" value="{{color.colorId}}">{{color.colorName}}
                              </option>
                          </select>
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-lg-2">
                          <label for="colorSelect" class="form-label">Model Yılı:</label>
                      </div>
                      <div class="col-lg">
                          <select id="modelYearSelect" class="form-select" size="3" formControlName="modelYear">
                              <option selected>Model seçin</option>
                              <option *ngFor="let year of modelYearList" value="{{year}}">{{year}}
                              </option>
                          </select>
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-lg-2">
                          <label for="dailyPriceInput" class="form-label">Günlük Fiyat:</label>
                      </div>
                      <div class="col-lg">
                          <input type="number" class="form-control" id="dailyPriceInput" formControlName="dailyPrice"
                              placeholder="e.g. 250"/>
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-lg-2">
                          <label for="descriptionInput" class="form-label">Açıklama:</label>
                      </div>
                      <div class="col-lg">
                          <textarea class="form-control" id="descriptionInput" rows="3" formControlName="description"
                              placeholder="Açıklama..."
                              [ngClass]="{ 'is-invalid': carFormControls.description.touched && carFormControls.description.errors }">
                              

                          </textarea>
                      </div>
                  </div>
    
              </form>
          </div>
          <div class="card-footer">
              <div class="d-grid gap-2">
                  <button class="btn btn-warning" (click)="updateCar()" type="button">Güncelle</button>
                   <button class="btn btn-danger" (click)="deleteCar()" type="button">Sil</button>
              </div>
          </div>
      </div>
  </div>
</div>