<h3 class="text-center">Kiralanan Araçlar Listesi</h3>
<div *ngIf="dataLoaded==false"class="spinner-border text-primary" role="status">
    <span class="visually-hidden"></span>
</div>
<table class="table" *ngIf="dataLoaded == true">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Renk</th>
            <th>Müşteri</th>
            <th>Kiralama Tarihi</th>
            <th>Teslim Alma Tarihi</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentals">
            <td>{{rental.brandName}}</td>
            <td>{{rental.colorName}}</td>
            <td>{{rental.firstName +" "+ rental.lastName}}</td>
            <td>{{rental.rentDate | date:'dd-MM-YYYY'}}</td>
            <td>{{(rental.returnDate == null)? "Teslim Alınmadı": rental.returnDate | date:'dd-MM-YYYY'}}</td>
        </tr>
    </tbody>
    </table>