
<div class="container">
   
    <table class="table ">
      <thead>
        <tr>
          <th>#</th>
          <th>Markalar</th>
          <th>
            <button routerLink="add" type="button" class="btn btn-outline-dark">+ Ekle</button>
          </th>
       

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands">
          <td>{{brand.brandId}}</td>
          <td>{{brand.brandName}}</td>
          <td>
            <button routerLink="edit/{{brand.brandId}}" type="button" class="btn btn-outline-info mx-2">Güncelle</button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>