<app-navi></app-navi>
<div class="container ">
    
    <div class="row">
        <!-- <div class="col-md-3 ">
            <app-brand></app-brand>
            <app-color></app-color>
        </div> -->
        <div class="col-md-12">
            <!-- <app-creditcard></app-creditcard> -->
            <!-- <app-car></app-car>
            <app-customer></app-customer>
            <app-rental></app-rental> -->
            <!-- <app-todo></app-todo> -->
            
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>

