
       <div class="row">
        <div class="col-md-6">
            <form [formGroup]="passwordUpdateForm">
                <div class="mb-3">
                  <label  for="oldPassword" class="form-label">Eski parola</label>
                  <input formControlName="oldPassword" type="password" class="form-control" id="oldPassword">
                </div>
                <div class="mb-3">
                    <label  for="input-new-password" class="form-label">Yeni parola</label>
                    <input formControlName="newPassword" type="password" class="form-control" id="input-new-password">
                  </div>

                <button (click)="updatepassord()" type="submit" class="btn p-button">Güncelle</button>
              </form>
         
        </div>
        <div class="col-md-6">
            <!-- <form [formGroup]="passwordUpdateForm">
                <div class="mb-3">
                  <label  for="oldPassword" class="form-label">Eski parola</label>
                  <input formControlName="oldPassword" type="password" class="form-control" id="oldPassword">
                </div>
                <div class="mb-3">
                    <label  for="input-new-password" class="form-label">Yeni parola</label>
                    <input formControlName="newPassword" type="password" class="form-control" id="input-new-password">
                  </div>

                <button (click)="update()" type="submit" class="btn p-button">Güncelle</button>
              </form>
          -->
        </div>
    </div>