
<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden"></span>
</div>

<div class="row" *ngIf="dataLoaded==true">
    <div *ngFor="let car of cars" class="card m-2" style="width: 267px; ">
        <img  src="{{imageUrl}}{{car.imagePath}}" alt="{{imageUrl}}{{car.imagePath}}" class="card-img-top" width="320" height="200" >
        
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-center">{{car.carName}}</h5>
          <p class="card-text d-flex justify-content-center">{{car.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Marka: {{car.brandName}}</li>
          <li class="list-group-item">Renk: {{car.colorName}}</li>
          <li class="list-group-item">Model: {{car.modelYear}}</li>
          <li class="list-group-item">Fiyat: {{car.dailyPrice}}</li>
        </ul>
        <div class="card-body">
            <section style="float:left">
              <button routerLink="/car/details/{{car.carId}}" type="button" class="btn btn-outline-dark">Detay</button>
            </section>
            <section style="float: right">
              <button type="button" class="btn btn-outline-dark">Kirala</button>
            </section>
        </div>
      </div>
</div>
