<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a routerLink="./" class="list-group-item list-group-item-action active">Admin</a>
                <a routerLink="cars" class="list-group-item list-group-item-action">Arabalar</a>
                <a routerLink="colors" class="list-group-item list-group-item-action">Renkler</a>
                <a routerLink="brand" class="list-group-item list-group-item-action"> Markalar</a>
            </div>
    
         
        </div>
       <div class="col-md-9">
           <router-outlet></router-outlet>
       </div>
      </div>
</div>