<div class="container-fluid pt-4" >
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a routerLink="./" style="background-color: #0186a7; color: white;" class="list-group-item list-group-item-action ">Admin</a>
                <a routerLink="cars" routerLinkActive="active" class="list-group-item list-group-item-action">Arabalar</a>
                <a routerLink="colors" routerLinkActive="active" class="list-group-item list-group-item-action">Renkler</a>
                <a routerLink="brands" routerLinkActive="active" class="list-group-item list-group-item-action"> Markalar</a>
            </div>
    
         
        </div>
       <div class="col-md-9">
           <router-outlet></router-outlet>
       </div>
      </div>
</div>