<h3 class="text-center">Müşteri Listesi</h3>



<div *ngIf="dataLoaded==false"class="spinner-border text-primary text-center" role="status">
    <span class="visually-hidden"></span>
</div>

<table class="table" *ngIf="dataLoaded == true">
    <thead>
        <tr>
            <th>Müşteri No</th>
            <th>Müşteri</th>
            <th>Firma</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <!-- <td>{{customer.customerId}}</td>
            <td>{{customer.firstName + " "+ customer.lastName}}</td>
            <td>{{customer.companyName}}</td> -->
        </tr>
    </tbody>
</table>