

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet">


  <div class="hero_area">
    <div class=" slider_section position-relative">
      <div class="slider_container">
        <div class="img-box">
          <img src="../../../../assets/İmg/hero-img.jpg" alt="">
        </div>
        <div class="detail_container">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="detail-box">
                  <h1>
                    1 Numaralı <br> Araba Kiralama <br> Hizmeti
                    
                  </h1>
                  <a routerLink="/cars">
                    Araçlarımız
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- car section -->

  <div class=" container-flued car_section layout_padding2-top layout_padding-bottom ">
    <div class="container">
      <div class="heading_container">
        <h2>
          En Sevdiğiniz Otomobilleri Bulmanın Daha İyi Bir Yolu
        </h2>
        <p>
          "Yepyeni bir araç kiralama deneyimi" anlayışı ile çok kısa sürede önemli atılımlar yaparak büyüyen marka, her geçen gün artan hizmet noktaları ile müşterilerine kaliteden ödün vermeden hizmet vermeye devam etmektedir.
        </p>
      </div>
     
    
    </div>
  </div>
  
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/İmg/c-1.png" class="card-img-top h-100  p-5" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arabanızı Seçin</h5>
          <p class="card-text">Esnek koltuk yerleşimi, Otomatik Vites ve Manuel Vites seçenekleri ile ihtiyacınıza uygun arabaları seçim yapabilirsiniz.</p>
          <a href="#" class="btn btn-primary auth">Seç</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/İmg/c-2.png" class="card-img-top h-100 p-5" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arabanızı Alın</h5>
          <p class="card-text">Belirlediğiniz noktada aracınızı alabilir ve teslim edebilirsiniz </p>
          <a href="#" class="btn btn-primary auth">Seç</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/İmg/c-3.png"  class="card-img-top h-100  p-5" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bayinizle İletişime Geçin</h5>
          <p class="card-text">Araçla ilgili birlgi almak için ilgili bayiyle iletişime geçebilirsiniz</p>
          <a href="#" class="btn btn-primary auth">Seç</a>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- end car section -->

  <!-- about section -->


  <!-- end about section -->


  <!-- best section -->

  <div class="container-flued best_section mt-5">
    <div class="container ">
      <div class="book_now">
        <div class="detail-box">
          <h2>
            En iyi Arabalarımız
          </h2>
          <p>
            Yeni araçlarla konforlu bir yolculuğun tadını çıkarın
          </p>
        </div>
        <!-- <div class="btn-box">
          <a href="">
            Şimdi Rezervasyon Yapın
          </a>
        </div> -->
      </div>
    </div>
  </div>

  <!-- end best section -->

  <!-- rent section -->

  <div class="container-flued rent_section layout_padding">
    <div class="container ">
      <div class="rent_container " >
        <div class="box card" *ngFor="let car of cars">
          <div class="img-box">
            <img src="{{imageUrl}}{{car.imagePath}}" alt="{{imageUrl}}{{car.imagePath}}" class="card-img-top" width="320" height="200">
          </div>
          <div class="price">
            <a href="">
             {{car.dailyPrice}} TL
            </a>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a routerLink="/cars">
          Daha fazla 
        </a>
      </div>
    </div>
  </div>


  <!-- end rent section -->



  <!-- us section -->

  <div class="container-flued us_section">
    <div class="container mt-5">
      <div class="heading_container mb-5">
        <h2 class="mb-5">
            Neden bizi seçmelisiniz
        </h2>
       <p>
        Bizi seçin, çünkü eşsiz bir deneyim, sıcak bir karşılama ve mükemmel bir hizmet alacağınızdan eminiz. Biz ihtiyaçlarınızı yerine getirmeye, uygun fiyatlı, güvenilir ve yaratıcı olmaya tamamen hazırız. Hizmetlerimiz size gelip gelmeyeceğinize yöneliktir. Bu bölgedeki araç kiralama sektöründe lider olarak büyümek ve gelişmek konusunda tutkuluyuz. Dostça bir yaklaşımla hızlı ve profesyonel hizmet bizim en büyük önceliğimizdir ve bu yüzden sizinle birlikte en iyi yaptığımız şeyi yapıyoruz.</p>
      </div>
    </div>
    <div  class=" us_container layout_padding2">
      <div class="content_box">
        <div class="box">
          <div class="img-box">
            <img src="../../../../assets/İmg/u-1.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Düşük Kira
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="../../../../assets/İmg/u-2.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Hızlı Araba
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="../../../../assets/İmg/u-3.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
            Güvenli Araba
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="../../../../assets/İmg/u-4.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
                Hızlı Destek
            </h5>
          </div>
        </div>
      </div>
  
    </div>
  </div>

  <!-- end us section -->



  <!-- contact section -->

  <div class="container-flued contact_section layout_padding">
    <div class="container">
     
      
      <div class="contact_items">

        <a href="">
          <div class="img-box">
            <img src="../../../../assets/İmg/location.png" alt="">
          </div>
          <h6>
            Parseller Mah. Cihannur Sok. No:10 Ümraniye/İstanbul
          </h6>
        </a>
        <a href="">
          <div class="img-box">
            <img src="../../../../assets/İmg/call.png" alt="">
          </div>
          <h6>
            (+90 05452066565)
          </h6>
        </a>
        <a href="">
          <div class="img-box">
            <img src="../../../../assets/İmg/mail.png" alt="">
          </div>
          <h6>
            kaya67380@gmail.com
          </h6>
        </a>

      </div>
      <div class="social_container">
        <div class="social-box">
          <div>
            <a href="">
              <img src="../../../../assets/İmg/fb.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="../../../../assets/İmg/twitter.png" alt="">
            </a>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/samet-kaya-736604170/">
              <img src="../../../../assets/İmg/linkedin.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="../../../../assets/İmg/insta.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end contact section -->

  <!-- map section -->

  <div class="container-flued map_section">
    <!-- map section -->
    <div class="map_container">
      <div class="map-responsive">
       
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.743572888473!2d29.151815414953337!3d41.03086572598427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cacec4e7242aa1%3A0xb9da8ab980e3c8e4!2sParseller%2C%20Cihannur%20Sk.%2C%2034773%20%C3%9Cmraniye%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1617399284787!5m2!1str!2str" width="600" height="300"frameborder="0" style="border:0; width: 100%; height:100%"  allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
    <!-- end map section -->
  </div>


  <!-- end map section -->
<app-footer></app-footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>



